
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before { content: "\e645"; }

.icon-close:before { content: "\e646"; }

.icon-edit:before { content: "\e649"; }

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-phone:before { content: "\e652"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-roundclosefill:before { content: "\e658"; }

.icon-roundclose:before { content: "\e659"; }

.icon-roundrightfill:before { content: "\e65a"; }

.icon-roundright:before { content: "\e65b"; }

.icon-search:before { content: "\e65c"; }

.icon-time:before { content: "\e65f"; }

.icon-warnfill:before { content: "\e662"; }

.icon-warn:before { content: "\e663"; }

.icon-commentfill:before { content: "\e666"; }

.icon-comment:before { content: "\e667"; }

.icon-likefill:before { content: "\e668"; }

.icon-like:before { content: "\e669"; }

.icon-notificationfill:before { content: "\e66a"; }

.icon-notification:before { content: "\e66b"; }

.icon-order:before { content: "\e66c"; }

.icon-back:before { content: "\e679"; }

.icon-more:before { content: "\e684"; }

.icon-settings:before { content: "\e68a"; }

.icon-questionfill:before { content: "\e690"; }

.icon-question:before { content: "\e691"; }

.icon-form:before { content: "\e699"; }

.icon-pic:before { content: "\e69b"; }

.icon-filter:before { content: "\e69c"; }

.icon-footprint:before { content: "\e69d"; }

.icon-top:before { content: "\e69e"; }

.icon-pulldown:before { content: "\e69f"; }

.icon-pullup:before { content: "\e6a0"; }

.icon-right:before { content: "\e6a3"; }

.icon-refresh:before { content: "\e6a4"; }

.icon-moreandroid:before { content: "\e6a5"; }

.icon-deletefill:before { content: "\e6a6"; }

.icon-delete:before { content: "\e6b4"; }

.icon-link:before { content: "\e6bf"; }

.icon-lock:before { content: "\e6c0"; }

.icon-unlock:before { content: "\e6c2"; }

.icon-friendaddfill:before { content: "\e6c9"; }

.icon-friendadd:before { content: "\e6ca"; }

.icon-friendfamous:before { content: "\e6cb"; }

.icon-friend:before { content: "\e6cc"; }

.icon-square:before { content: "\e6d5"; }

.icon-squarecheck:before { content: "\e6d6"; }

.icon-roundaddfill:before { content: "\e6d8"; }

.icon-roundadd:before { content: "\e6d9"; }

.icon-fold:before { content: "\e6de"; }

.icon-infofill:before { content: "\e6e4"; }

.icon-info:before { content: "\e6e5"; }

.icon-rechargefill:before { content: "\e6ec"; }

.icon-recharge:before { content: "\e6ed"; }

.icon-voice:before { content: "\e6ef"; }

.icon-voicefill:before { content: "\e6f0"; }

.icon-wifi:before { content: "\e6f2"; }

.icon-wefill:before { content: "\e6f4"; }

.icon-we:before { content: "\e6f5"; }

.icon-service:before { content: "\e6ff"; }

.icon-sort:before { content: "\e700"; }

.icon-down:before { content: "\e703"; }

.icon-mobile:before { content: "\e704"; }

.icon-mobilefill:before { content: "\e705"; }

.icon-countdown:before { content: "\e708"; }

.icon-creativefill:before { content: "\e718"; }

.icon-creative:before { content: "\e719"; }

.icon-pullleft:before { content: "\e71f"; }

.icon-pullright:before { content: "\e720"; }

.icon-rankfill:before { content: "\e721"; }

.icon-rank:before { content: "\e722"; }

.icon-markfill:before { content: "\e730"; }

.icon-mark:before { content: "\e731"; }

.icon-servicefill:before { content: "\e737"; }

.icon-attentionfill:before { content: "\e73c"; }

.icon-attention:before { content: "\e73d"; }

.icon-community:before { content: "\e741"; }

.icon-calendar:before { content: "\e74a"; }

.icon-tagfill:before { content: "\e751"; }

.icon-tag:before { content: "\e752"; }

.icon-group:before { content: "\e753"; }

.icon-all:before { content: "\e755"; }

.icon-upload:before { content: "\e75d"; }

.icon-add:before { content: "\e767"; }

.icon-move:before { content: "\e768"; }

.icon-safe:before { content: "\e769"; }

.icon-sound:before { content: "\e77b"; }

.icon-my:before { content: "\e78b"; }

.icon-recordfill:before { content: "\e7a4"; }

.icon-recordlight:before { content: "\e7a5"; }

.icon-record:before { content: "\e7a6"; }

.icon-sortlight:before { content: "\e7ad"; }

.icon-mail:before { content: "\e7bd"; }

.icon-exit:before { content: "\e7cb"; }

.icon-subscription:before { content: "\e7d3"; }

.icon-home_light:before { content: "\e7d4"; }

.icon-home_fill_light:before { content: "\e7d8"; }

.icon-service_light:before { content: "\e7dd"; }

.icon-appreciate_light:before { content: "\e7e1"; }

.icon-appreciate_fill_light:before { content: "\e7e2"; }

.icon-global:before { content: "\e7eb"; }

